<?xml version="1.0"?>

<!--

Copyright 2015 Sitecore Corporation A/S
Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file 
except in compliance with the License. You may obtain a copy of the License at
	http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the 
License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
either express or implied. See the License for the specific language governing permissions 
and limitations under the License.

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <!-- Settings for experience extractor
    
      apiRoute: The root URL for the REST API.
      tempDirectory: The virtual or absolute path for the directory where job temporary data is stored while processing and where job results are stored
      batchSize: The maximum number of rows stored in memory while processing. Data is flushed to disk when the number of rows in any table exceeds this number
      sizeLimit: Jobs are ended if the temporary storage for any processing thread exceeds this size (in bytes)
      processingThreads: The number of threads concurrently processing data from the data source
      loadThreads: The number of threads concurrently reading data from the data source
      dataSourceBufferSizer: The maximum number of objects from the data source to be buffered while processing
      database: The name of the Sitecore item database to use
      xdbConnection: Default connection string / name of connection string for xDB
	  forceProtocol: If set, forces requests to use a protocol (e.g.: "https"). Can be useful in proxied environments where this may be required.
    -->
    <experienceExtractor
        apiRoute="sitecore/experienceextractor/jobs"
        tempDirectory="$(tempFolder)/experienceextractor"
        batchSize="10000"
        sizeLimit =" 524288000"
        loadThreads="2"
        processingThreads="2"
        dataSourceBufferSize="500"
        database="master"
        xdbConnection="analytics"
		forceProtocol="">


      <!--
        Security settings
        By default only Sitecore administrators can access the REST API.
        
        allowAnonymousAccess: Disable security checks. Use this setting if the end point has been secured by external mechanisms
        
        <allowedRole> and <allowedUser> elements can be specified to allow access for the specified roles or users. Access is allowed if the authenticated user is explicitily allowed with an <allowUser> tag or has any of the roles specified.        
      -->
      <security allowAnonymousAccess="false">
        <allowedRole>analyst</allowedRole>
      </security>

      <!--
        Settings for job parsing in the REST API
        
        The assemblies with parse factories available for job specifications are listed here in <assembly> tags
        If multiple assemblies provide parse factories for the same key, the parse factory from the assembly listed first is used.
      -->
      <parsing>
        <assembly>ExperienceExtractor.Components</assembly>
        <assembly>ExperienceExtractor.MongoDb</assembly>
      </parsing>

      <itemRoots>
        <experienceAnalyticsDimensions>{FBF255C0-72A2-4E76-A83D-633B852D82E7}</experienceAnalyticsDimensions>
        <experienceAnalyticsFilters>{F1C4275C-8F38-4570-BABF-C95837CC87CF}</experienceAnalyticsFilters>
      </itemRoots>
      
    </experienceExtractor>



    <!-- Initialize Experience Extractor -->
    <pipelines>
      <initialize>
        <processor type="ExperienceExtractor.Api.Pipelines.ExperienceExtractorApiInitializer, ExperienceExtractor" patch:after="processor[position()=last()]" />
      </initialize>
    </pipelines>

    <!-- Delete old jobs results -->
    <scheduling>
      <agent type="Sitecore.Tasks.CleanupAgent" method="Run" interval="00:01:00">
        <files hint="raw:AddCommand">
          <remove folder="$(tempFolder)/experienceextractor" recursive="true" maxAge="00:00:30" />
        </files>
      </agent>

      <agent type="ExperienceExtractor.Scheduling.JobUpdateAgent, ExperienceExtractor.Scheduling" method="Execute" interval="00:01:00">
        <param hint="rootItem">{C12F0F74-AFC8-4DE2-ADBE-36AF552DAC7C}</param>
      </agent>
    </scheduling>
  </sitecore>
</configuration>
